<div class="dashboard" data-testid="dashboard">
    <div class="title"> Dashboard </div>
    <div class="subtitle">
        Here are your analytical details
    </div>

    <div>
        <div class="section-title"> Current Plants </div>
        <hr class="seperation-line">

        <div class="cards">
            <div *ngFor="let plant of (currentPlants$ | async)" class="plant-card" (click)="selectPlant(plant.id)">
                <div class="plant-name"> {{ plant.name }} </div>
                <div *ngIf="plant.harvest_date != undefined"> {{ daysLeft(plant.harvest_date) + ' days more' }} </div>
            </div>
        </div>

    </div>

    <div class="details" *ngIf="plantSelected != undefined">
        <div class="section-title"> Details </div>
        <hr class="seperation-line">

        <div class="cards">
            <div class="detail-card" *ngFor="let detail of currentDetails">
                <div> {{ detail.name }} </div>
                <img class="temperature-icon" [src]="detail.img" />
                <div class="current-value"> {{ (detail.value$| async) }}{{ detail.unit }}</div>
                <div class="hover-text" (click)="getgraphDetails(detail.name, detail.appId)">View Graph <img
                        src="../../assets/vector.svg"></div>
            </div>
        </div>

    </div>

    <div class="graph" *ngIf="showGraph">
        <canvasjs-chart [options]="chartOptions" [styles]="{width: '80%', height:'360px'}"></canvasjs-chart>
    </div>

    <div>
        <div class="section-title" [style]="'padding-bottom: 20px'" *ngIf="plantSelected"> Notifications </div>
    </div>

    <mat-table class="notification-table" *ngIf="plantSelected != undefined"
        [dataSource]="dataSource??notificationData">

        <ng-container matColumnDef="notification">
            <mat-header-cell *matHeaderCellDef> Notification </mat-header-cell>
            <mat-cell *matCellDef="let notification" class="notification-text"> {{ notification.message }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef> Date and Time </mat-header-cell>
            <mat-cell *matCellDef="let notification" class="notification-text"> {{ notification.timestamp | date :
                'h:mma , d/M/yyyy' }}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="notificationColumns" class="header-row"></mat-header-row>
        <mat-row *matRowDef="let row; columns: notificationColumns" class="table-row"></mat-row>

    </mat-table>
    <div [hidden]="plantSelected == undefined">
        <mat-paginator #paginator [length]="notificationData.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page">
        </mat-paginator>
    </div>
</div>