@import "../../../scss/_mixins.scss";
@import "../../../scss/_variables.scss";

.dashboard {
    padding-left: 50px;

    .title {
       @include page-title();
    }

    .subtitle {
        @include subtitle();
    }

    .seperation-line {
        width: 1068px;
        color: $muddy-green;
        margin-left: 0;
    }

    .section-title {
        color: $muddy-green;
        font-size: 21px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
    }

    .details {
        .detail-boxes {
            display: flex;
            gap: 34px;

            .detail-box {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                justify-content: center;

                color: $cream;
                font-size: 17px;
                font-style: normal;
                font-weight: 600;
                line-height: normal; 
   
                margin-top: 32px;
                margin-bottom: 34px;
                width: 138px;
                height: 172px;
                border-radius: 9px;
                background: $muddy-green;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
                
                .temperature-icon {
                    height: 33x;
                    width: 33px;
                    display: block;
                    color: $cream
                }
        
                .current-value {
                    color: $cream;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal; 
                }
            }
        }
    }
}