<div mat-dialog-title class="title">{{ plantId == undefined ? 'Add Plant' : 'Update Plant' }}</div>
<div mat-dialog-content>
    <div class="subtitle">
        {{ plantId == undefined ? 'Create a new plant for the system' : 'Update your plant'}}
    </div>
    <form>
        <div>
            <mat-form-field class="input-field" id="input-field-name">
                <mat-label> Plant name </mat-label>
                <input matInput [formControl]="plantFormControl">
                <mat-error *ngIf="plantFormControl.hasError('required')">This Field is required.</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="input-field">
                <mat-label> Expected Harvest time </mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="dateFormControl">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div *ngFor="let inputField of rangeFields">
            <form [formGroup]="inputField.formGroup">
                <mat-form-field class="input-field" [id]="'input-field-' + inputField.id">
                    <mat-label>{{ 'Minimum ' + inputField.placeholder }}</mat-label>
                    <input matInput formControlName="min" type="number" min="0">
                    <mat-error *ngIf="inputField.formGroup.get('min')?.hasError('required')">
                        This Field is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="input-field" [id]="'input-field-' + inputField.id">
                    <mat-label>{{ 'Maximum ' + inputField.placeholder }}</mat-label>
                    <input matInput formControlName="max" type="number" min="0">
                </mat-form-field>
            </form>

        </div>
    </form>
</div>

<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close class="dialog-button"
        (click)="plantId == undefined? addPlant() : editPlant()" [disabled]="isButtonDisabled()">
        {{ plantId != undefined ? 'Update Plant' : 'Add Plant'}}
    </button>
</mat-dialog-actions>
<mat-error class="range-error" *ngIf="hasRangeError()">
    Maximum must be greater than minimum.
</mat-error>