@import "../../../scss/_mixins.scss";
@import "../../../scss/_variables.scss";

.title {
    @include dialog-title;
}

.subtitle {
    @include dialog-subtitle;
}

.input-field {
    @include input-field;
}

.dialog-button {
    @include dialog-button;
    margin-left: 15px;
}

.range-error {
    margin-left: 20px;
    margin-bottom: 20px;
}