<div class="dashboard" data-testid="dashboard">
    <div class="title"> Dashboard </div>
    <div class="subtitle">
        Here are your analytical details
    </div>

    <div>
        <div class="section-title"> Current Plants </div>
        <hr class="seperation-line">
    </div>

    <div class="details">
        <div class="section-title"> Details </div>
        <hr class="seperation-line">
        <div class="detail-boxes">
            <div class="detail-box">
                <div> Temperature </div>
                <img class="temperature-icon" src="../../assets/temperature.png" />
                <div class="current-value"> {{ currentTemperature$ | async }}°C </div>
                <div>View Graph <img src="../../assets/vector.svg"></div>
            </div>
            <div class="detail-box">
                Humidity
                <img class="temperature-icon" src="../../assets/humidity.png" />
                <div class="current-value"> {{ currentHumidity$ | async }}% </div>
                <div>View Graph <img src="../../assets/vector.svg"></div>
            </div>
            <div class="detail-box">
                CO2 Level
                <img class="temperature-icon" src="../../assets/co2.png" />
                <div class="current-value"> {{ currentCo2$ | async }}% </div>
                <div>View Graph <img src="../../assets/vector.svg"></div>
            </div>
            <div class="detail-box">
                Air Quality
                <img class="temperature-icon" src="../../assets/air-quality.png" />
                <div class="current-value"> {{ currentAirQuality$ | async }}% </div>
                <div>View Graph <img src="../../assets/vector.svg"></div>
            </div>
        </div>

    </div>

    <div>
        <div class="section-title"> Notifications </div>
    </div>
</div>