@import "src/scss/_variables.scss";

mat-drawer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  // width: 100%;

  .onboardingForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    height: 700px;
    .title{
      font-size: 20px;
      font-weight:900;
      color: $muddy-green;

      margin: 30px;
    }
    .formField{
      width:300px;
      margin-bottom: 5px;
    }
    .eyeIcon{
      color: $muddy-green;
    }
    .err{
      margin-left: 20px;
      width: 300px;
      margin-bottom: 20px;
    }
    .link:hover{
      text-decoration: underline;
      cursor: pointer;
    }
    .onboardButton{
      color: $cream;
      background-color: $muddy-green;
      font-size: 18px;
      font-weight:600;

      width: 300px;
      height: 40px;
    }
    .onboardOutlineButton{
      color: $muddy-green;
      border: solid;
      border-color: $muddy-green;
      border-width: 1px;
      font-size: 18px;
      font-weight:600;

      width: 300px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin:20px;
    }

    .googleIcon{
      width: 20px;
      height: auto;
    }
  }

}

