@import "_variables.scss";

@mixin page-title() {
    color: $muddy-green;
    font-weight: 600;
    line-height: normal; 
    font-size: 30px;
}

@mixin subtitle() {
    color: $light-muddy-green;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 50px;
}